.app-container{
  display: flex;
}
.container{
  width: 100%;
}





.sidebar{
  min-height: 1000px;
}
.post-card{
  margin:10px;

}
.hashtag{
  margin:3px;
}
.reaction{
  margin:15px 0px 0px 0px;
}
.createpost{
  width:100%;

  margin: top 50px left 30px;

}
.welcome-msg{
  margin:100px 0;
  
}